body {

    background-color: black;
    color: white;
    font-family: fantasy;
    font-size: 16pt;
}

footer{
	position:absolute;
	bottom:0;
}

h1 {

    font-size: 40pt;
    text-align: center;
}

#conteneur {

    display: flex;
    justify-content: center;
    background-color: white;
}

#boutonMenu {

    text-align: center;
    background-color: black;
    margin: 5pt;
    margin-left: 10pt;
    margin-right: 10pt;
    padding: 7pt;
    width: 150pt;
}

#boutonMenu a:hover {

    color: orange;
}

#recherchemenu {
	text-align: center;
    margin: 5pt;
    margin-top: 10pt;
    margin-left: 10pt;
    margin-right: 10pt;
    padding: 7pt;
    border-width: 5pt;
    length:25pt;
}

a {

    color: white;
    text-decoration: none;
}

.bienvenue {

    text-align: center;
    font-size: 60pt;
    color: orange;
}

.paragrapheBienvenue {

    text-align: center;

}

#conteneurRight {

    display: flex;
    justify-content: flex-end;
}

.connexion {

    background-color: orange;
    padding: 5pt;
    margin-right: 5pt;
}

.recherche {
	text-align: center;
}

.profil {
	text-align:center;
	color:orange;
}

.titre {
	text-align:center;
	color:orange;
	font-size:25pt;
}

.boutonPlay {
	background-color:orange;
	border-color:gray;
	border-radius:70px;
	width:50px;
	heigth:50px;
	margin-left:600px;
	text-align:center;
}

.lecteur{
	width:1210px;
	border-top-color:orange;
	border-top-style:solid;
	border-top-width:1px;
	
}