#borderPane {

    -fx-background-color: #293133;
}

#topToolBar {

    -fx-background-color: #293133;
}

#bottomToolBar {

    -fx-background-color: #293133;
}

.button {

    -fx-background-color: #293133;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
}

.button:hover {

    -fx-text-fill: #FF7F50;
    -fx-border-color: #FF7F50;
}

#boutonMenu {

    -fx-border-color: #293133;
    -fx-padding: 20.0;
}

#textField {

    -fx-Layout_marginLeft: 20.0;
}

#boutonMusique {

    -fx-padding: 45.0;
}